body{
    color: black;
}
.techHead{
    display: flex;
    align-items: center;
    font-size: 4em;
    font-weight: 700;
    margin-inline: 50px;
    margin-top: 50px;
}
.techHead img {
    display: span;
    height: 1em;
    width: auto;
    margin-inline: .5em;


}
.container {
    margin: 100px;
    margin-top: 5vw ;
    /* border: 2px solid green; */
    display: grid;
    grid-template-rows: 100px 200px;
    grid-template-columns: repeat(3,minmax(100px,400px));
    align-items: start;
    justify-content: center;
    font-family:'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    grid-gap: 10px 20px;
}
.items ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.item1, .item2, .item3 {
    font-size: 40px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item4,.item5, .item6 ,.item7,.item8, .item9{
    font-size: 25px;
    font-family:'Arial Narrow Bold', sans-serif;
    
}

.item3 {
    /* border: 2px solid red; */
    /* background-color: rgb(255, 141, 160); */
}

.item4{
    /* border: 2px solid rgb(11, 255, 19); */
    /* background-color: rgb(130, 249, 130); */
}
.item5 {
    /* border: 2px solid rgb(255, 255, 11); */
    /* background-color: rgb(246, 246, 151); */
}

.item6 {
    /* border: 2px solid blue; */
    /* background-color: rgb(144, 144, 254); */
}

.item7 {
    /* border: 2px solid red; */
    /* background-color: rgb(255, 141, 160); */
}

.item8{
    /* border: 2px solid rgb(11, 255, 19); */
    /* background-color: rgb(130, 249, 130); */
}
.item9{
    /* border: 2px solid rgb(11, 255, 19); */
    /* background-color: rgb(130, 249, 130); */
}

@media (max-width: 768px) { /* Mobile view */

    .container{
        margin-inline: 8vw;
        grid-template-rows: 60px 1fr ;
        grid-template-columns: repeat(3,1fr);
    }

    .item1, .item2, .item3 {
        font-size: clamp(22px,6vw,40px);
    }
    
    .item4,.item5, .item6 ,.item7,.item8, .item9{
        font-size: clamp(14px,5vw,20px);
        
    }
    .techHead{
        font-size: 2.5rem;
        margin-inline: 8vw;
        margin-top: clamp(20px,5vw,50px);
        margin-bottom: 10px;
    }
    .techHead img {
        width: 1.1em;
        height: auto;
        margin-inline: .3em;
    }
}
@media (max-width: 500px) {

    .item1, .item2, .item3 {
        font-size: clamp(22px,5vw,40px);
    }
    
    .item4,.item5, .item6 ,.item7,.item8, .item9{
        font-size: clamp(14px,4vw,20px);
    }
    .techHead{
        width: 100%; 
        text-align: center;
        align-items: center;
    }
}

